<footer>
  <div class="about__information">
      <div class="about__information-history">
          <div class="grilled__col-3 grilled__box">
              <h3>Our Recipes</h3>
              <p>All our recipes are tested thoroughly by us to make sure they’re suitable for your kitchen
                  at home. We know many of you are concerned about healthy eating, so we send them to a
                  qualified nutritionist for thorough analysis too.
                  Browse our recipes now</p>
          </div>
          <div class="grilled__col-3 grilled__box">
              <h3>Grilled Praw’s History</h3>

              <p>The Grilled Prawn is a fictional food blog created in January 2015.</p>
          </div>
          <div class="grilled__col-3 grilled__box">
              <h3>Tips and Tricks</h3>
              <p>Not sure how to do something? Don’t panic. We have plenty of tutorials for you.
                  Learn more</p>
          </div>
          <div class="grilled__col-3 grilled__box">
              <h3>Help and Contact</h3>
              <p>
                  Struggling with one of the recipes?
                  Send us an email

                  We are always happy to try new things, send us your suggestions!
                  Fill in the form
              </p>
          </div>
      </div>

      <div class="about__information-place">
          <p>
              © The Grilled Prawn
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, lectus quis interdum
              viverra, erat mi consectetur mi, a fringilla odio risus vel augue. Mauris tempor ligula
              fringilla magna iaculis, non vulputate tellus interdum.
              The images and recipes ideas were taken from spoonforkbacon.com and the icons from Google
              Material Icons.
          </p>
      </div>
  </div>
</footer>
