<section class="filter__recipe-type">
  <h1 class="filter__recipe-heading">Our Recipes</h1>
  <div class="filter__search-by">
      <button class="btn btn__filter" onclick="toggleAccordion()">Filter recipes by <span>-</span>
      </button>
      <span class="filter__sort-by">Sort By</span>
      <button class="btn btn__sortBy"> Newest first<img src="assets/Images/shape.svg" alt="Sort By">
      </button>
      <div class="filter__search">
          <img src="assets/Images/search.svg" class="filter__search_icon" alt="Search">
          <span class="filter__search-text">Search recipe</span>
      </div>
  </div>
  <div class="filter__recipe-accordion" id="filter-accordion-list">
      <div class="grilled__col-3 grilled__box">
          <h3 class="grilled__h3 grilled__mtm ">Food type:</h3>
          <label class="container">Appetisers
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
          </label>
          <label class="container">Mains
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container">Desserts
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container">Special Occasions
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
      </div>
      <div class="grilled__col-3 grilled__box">
          <h3 class="grilled__h3 grilled__mtm grilled_box"> Nationality:</h3>
          <label class="container"> Italian (34)
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
          </label>
          <label class="container"> French (30)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container">
              Spanish (22)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container">Peruvian (3)

              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
      </div>
      <div class="grilled__col-3 grilled_box grilled--mtl">
          <label class="container"> Chinese (18)
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
          </label>
          <label class="container">Indian (13)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container">Thai (10)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container">Norwegian (4)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
      </div>
      <div class=" grilled__col-3 grilled_box grilled--mtl">
          <label class="container">Polish (2)

              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
          </label>
          <label class="container"> Danish (3)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container">Belgian (7)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="container"> Persian (13)
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
      </div>
  </div>
</section>