<section class="slider">
  <div class="slider__left-content ">
      <img src="assets/Images/recipe.svg" alt="The Grilled Prawn" class="slider__image">
  </div>
  <div class="slider__right-content">
      <h3 class="grilled__h3">LATEST RECIPE</h3>
      <h1 class="grilled__h1">Baked Polenta with Cheese and Mushrooms.</h1>
      <p class="grilled__p">Polenta, goat cheese, Italian sausage, and cremini mushrooms. All together this will
          make for pretty darn good side dish to a lovely salad. Go for it.</p>
      <button class="btn grilled__slider--button ">Go to Recipe<img src="assets/Images/arrow_right.png" alt="Go To Recipe"
              class="slider__image-arrow"></button>
  </div>
</section>