<section>
    <div *ngFor="let data of recipeData">
    <div class="recipe__main-container" >
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">{{data.recipe_date}} </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Thai Yellow Curry Noodles with Shiitake Mushrooms</p>
            <div class="recipe__image">
                <img [src]="data.imagePath" alt="Recipe">
            </div>
        </div>
    </div>
</div>
           
</section>