<section>
    <div class="recipe__main-container" *ngFor="let data of recipeData">
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">{{data.recipe_date}} </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Thai Yellow Curry Noodles with Shiitake Mushrooms</p>
            <div class="recipe__image">
                <img [src]="data.imagePath" alt="Recipe">
            </div>
        </div>
        <!-- <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">17TH MARCH 2016 </span>
                <span class="recipe__place">ITELIAN</span>
            </div>
            <p class="recipe__list-content">Cappellini with Cherry Tomatoes and Fresh Basil</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe3.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Baked Turkey Sausage and Mascarpone Stuffed Shells</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe4.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Caramelised Apple and Herb Fiocchi</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe5.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Pumpkin Beer Cheese Soup</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe6.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Yum Woon Sen with Shrimp (Glass noodle salad with Shrimp)</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe7.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Beef Satay</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe8.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Creamy French Onion Soup Dip in a Bread Bowl</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe9.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Bocadillo Bites</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe10.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Paella</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe11.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Spicy black Bean Burger</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe3.png" alt="Recipe">
            </div>
        </div>
        <div class="recipe__list grilled__box recipe__list-container ">
            <div class="recipe__upper">
                <span class="recipe__date">5TH MARCH 2016 </span>
                <span class="recipe__place">Thai</span>
            </div>
            <p class="recipe__list-content">Thai Yellow Curry Noodles with Shiitake Mushrooms</p>
            <div class="recipe__image">
                <img src="assets/Images/recipe.svg" alt="Recipe">
            </div>
        </div>
    </div> -->
    </div>
</section>