<header class="navigation">
  <nav class="navigation__header-nav">
      <img src="assets/Images/logo.svg" alt="The Grilled Prawn" class="navigation__header-logo">
      <span class="navigation__header-logo-text"> {{recipeNav.GRILL}}</span>
      <ul class="navigation__header-nav--ul" id="nav" >
          <li class="navigation__header-nav--li">
              <a class="navigation__header-nav--a">{{recipeNav.RECIPES}}
              </a>
            </li>
          <li class="navigation__header-nav--li"><a class="navigation__header-nav--a">{{recipeNav.DRINKS}}</a></li>
          <li class="navigation__header-nav--li"><a class="navigation__header-nav--a">{{recipeNav.DECORATIONS}}</a></li>
          <li class="navigation__header-nav--li"><a class="navigation__header-nav--a">{{recipeNav.ABOUT}}</a></li>
          <li class="navigation__header-nav--li"><a  style="font-size:15px;" class="icon" (click)="navigation()">☰</a>
      </ul>
  </nav>
</header>